:local

.bookmarklet {
    display: inline-block;
    padding: 12px;
    line-height: 22px;
    font-size: 14px;
    height: 22px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: darkgray;
    color: black;
}